* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

button {
  margin: 10px;
  width: 30px;
  height: 30px;
  background-color: rgb(65, 181, 84);
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

button:hover {
  background-color: rgb(81, 115, 228);
}
